{{#link-to "login"}}
<button type="button" class="btn btn-primary btn-lg">Login</button>
{{/link-to}}
{{#link-to "register"}}
<button type="button" class="btn btn-primary btn-lg">Register</button>
{{/link-to}}

{{outlet}}